@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e9ebee; }
  body .container {
    background-color: #ffffff;
    padding: 10px; }
    body .container .spotlight {
      margin: auto;
      width: 120px;
      height: auto; }
      body .container .spotlight .title {
        text-align: center; }
      body .container .spotlight .lights-container {
        text-align: center;
        background-color: #373738;
        padding: 5px 0; }
        body .container .spotlight .lights-container button:focus {
          outline: 0; }
